<div class="desktop">
  <nav class="navbar navbar-expand-md bg-primary">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="../../../assets/bird.svg" alt="logo" class="logo" />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <img src="../../../assets/menu.svg" alt="" />
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-3">
            <button class="btn btn-secondary">
              <a href="#" class="nav-link text-light">Ricardo Herrera Dev</a>
            </button>
          </li>
          <li class="nav-item mx-3">
            <button class="btn btn-info">
              <a href="#" class="nav-link text-light">Contact</a>
            </button>
          </li>
          <li class="nav-item mx-3">
            <button class="btn btn-secondary">
              <a href="#" class="nav-link text-light">FAQ</a>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
